// ignore pattern for files so some can be unignored later
**/bin/**/*.*
obj

*.mdb
/GameData/FerramAerospaceResearch/Custom*.cfg
/GameData/FerramAerospaceResearch/FARForceDataUpdate.cfg
*.suo
*.DotSettings
*.user

.vscode
.vs
*.pdb
out
releasing

.mypy*
*.json
*.pyc

// unignore Debug build DLLs
!bin/[Dd]ebug/[Ff]erram*.dll
