// ignore pattern for files so some can be unignored later
**/bin/**/*.*
obj

*.mdb
/Ships
/GameData/FerramAerospaceResearch/Custom*.cfg
/GameData/FerramAerospaceResearch/FARForceDataUpdate.cfg
*.suo
*.DotSettings
*.user

.vscode
.vs
*.pdb
out
releases

.mypy*
.pytest_cache
*.pyc

// unignore Debug build DLLs
!bin/[Dd]ebug/[Ff]erram*.dll
