bin
obj

*.mdb
/GameData/FerramAerospaceResearch/Custom*.cfg
/GameData/FerramAerospaceResearch/FARForceDataUpdate.cfg
/GameData/ModularFlightIntegrator/LICENSE.txt
/GameData/ModularFlightIntegrator/ModularFlightIntegrator.*
*.suo
*.DotSettings
*.user
